<link rel="stylesheet" href="/css/style.css" />
<nav uk-sticky class="navbar navbar-expand-lg bg-dark navbar-absolute fixed-top navbarBackground">
	<div class="container-fluid">
		<div style="padding-top: inherit; margin-bottom: -13px; margin-top: -15px" class="logo animate__animated animate__bounce">
			<a href="http://localhost:2500/panelDeInicio" class="hoverRemoved" target="">
				<img class="dashboardIcon" src="/images/logoOficial.png" title="Volver al inicio" height="200" width="200" alt="" />
			</a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse justify-content-end">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link hoverRemoved" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="material-icons">notifications</i>
					<span class="notification"><%-notificaciones.length-%></span>
					<p class="d-lg-none d-md-block">Some Actions</p>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<% if(notificaciones.length > 0){ %>
						<% for(let i = 0; i < notificaciones.length; i++) { %>
							<% if(rol[0] == 'administrador'){ %>
								<div id="<%- notificaciones[i].id -%>" class= "borrarNotificacion">
									<a class="dropdown-item"><i onclick="borrar(this.parentElement.parentElement)" class="borrarNotificacion material-icons" style="position: relative; left: -5px">delete</i><i class="material-icons" style="position: relative; left: -5px">event_note</i><%-notificaciones[i]['titulo']-%>, <%-notificaciones[i]['fechaEvento']-%></i><i class="tags"><%-notificaciones[i]['tags']-%></i></a>
								</div>
								
							<% } else{ %>
								<a class="dropdown-item" href="#"><i class="material-icons" style="position: relative; left: -5px">event_note</i><%-notificaciones[i]['titulo']-%>, <%-notificaciones[i]['fechaEvento']-%></i><i class="tags"><%-notificaciones[i]['tags']-%></i></a>
							<% } %>
							
						<% } %>
					<% } else{ %>
						<span class="dropdown-item" >No hay eventos disponibles</span>
					<% } %>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link hoverRemoved" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="material-icons">apps</i>
					<p class="d-lg-none d-md-block">Acciones</p>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<% for(let i = 0; i < rol.length; i++) { %> <% if (rol[i] == 'profesor') { %>
					<a class="dropdown-item" href="#"><i class="material-icons" style="position: relative; left: -5px">account_circle</i>Listado de estudiantes</a>
					<a class="dropdown-item" href="estadisticasEstudiante"><i class="material-icons" style="position: relative; left: -5px">equalizer</i>Estadísticas</a>
					<% } %> <% if (rol[i] == 'preceptor') { %>
					<a class="dropdown-item" href="agregarProfesor"><i class="material-icons" style="position: relative; left: -5px">add_box</i>Agregar profesor</a>
					<a class="dropdown-item" href="agregarEstudiante"><i class="material-icons" style="position: relative; left: -5px">face</i>Agregar estudiante</a>
					<a class="dropdown-item" href="listarProfesores"><i class="material-icons" style="position: relative; left: -5px">format_list_numbered</i>Listar profesores</a>
					<a class="dropdown-item" href="listarEstudiantes"><i class="material-icons" style="position: relative; left: -5px">view_comfy</i>Listar estudiantes</a>
					<% } %> <% if (rol[i] == 'administrador') { %>
					<a class="dropdown-item" href="backupDB"><i class="material-icons" style="position: relative; left: -5px">file_download</i>Backup de la DB</a>
					<a class="dropdown-item" href="generarImagen"><i class="material-icons" style="position: relative; left: -5px">feedback</i>Multer</a>
					<a class="dropdown-item" href="crearSlider"><i class="material-icons" style="position: relative; left: -5px">note_add</i>Agregar slider</a>
					<a class="dropdown-item" href="crearNotificaciones"><i class="material-icons" style="position: relative; left: -5px">note_add</i>Crear notifiaciones</a>
					<% } %> <% if (rol[i] == 'estudiante') { %>
					<a class="dropdown-item" href="#"><i class="material-icons" style="position: relative; left: -5px">collections_bookmark</i>Estado académico</a>
					<a class="dropdown-item" href="#"><i class="material-icons" style="position: relative; left: -5px">school</i>Profesores</a>
					<% } %> <% } %>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link hoverRemoved" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<% if(routeAvatar != "0"){ %>
					<img src="/images/upload/avatars/<%-routeAvatar%>" class="perfect-circle" height="20" width="20" />
					<% } else{ %>
					<img class="perfect-circle" src="/images/upload/avatars/avatarDefault.png" />
					<% } %>
					<p class="d-lg-none d-md-block">Account</p>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
					<a class="dropdown-item" href="/miPerfil"><i class="material-icons" style="position: relative; left: -5px">account_box</i>Editar cuenta</a>
					<a class="dropdown-item" href="/generarImagen"><i class="material-icons" style="position: relative; left: -5px">create</i>Cambiar contraseña</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/desloguearse"><i class="material-icons" style="position: relative; left: -5px">exit_to_app</i>Salir del sistema</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
<script>
	function borrar(elementFather) {
		let notificacion = elementFather.cloneNode(true);
		Swal.fire({
			title: '¿Esta seguro que quiere borrar la notificacion?',
			showDenyButton: true,
			confirmButtonText: 'Si',
			denyButtonText: `No`,
			html:notificacion,
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire({
					icon: "success",
					title: "Se borro el evento",
					showConfirmButton: false,
					timer: 1200,
					timerProgressBar: true,
					toast: true,
					position: "top-end",
				});
				$.get(`borrarNotificacion/${elementFather.id}`,  res => {
					setTimeout(reloadPage, 2500);
				}); 
			} 
		})
	}
</script>