<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		Agregar preceptor
	</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<!-- Iconos Font Awesome -->
	<script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- CSS Files -->
	<link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
</head>

<body class="">
	<%- include('fragment/sidebar'); -%>
	<div class="main-panel">
		<%- include('fragment/navbar'); -%>
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-danger">
								<h4 class="card-title">Agregar preceptor</h4>
								<p class="category">Complete el formulario para agregar un nuevo preceptor</p>
							</div>
							<!-- Formulario de preceptor -->
							<div class="card-body">
								<form action="/crearProfesor" method="POST">
									<div class="form-group">
										<label for="exampleInputEmail1">ingrese un usuario</label>
										<input type="text" name="user" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputEmail1">ingrese una contraseña</label>
										<input type="text" name="password" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputEmail1">ingrese un avatar</label>
										<input type="text" name="avatar" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputEmail1">Nombre del preceptor</label>
										<input type="text" name="name" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">Apellido del preceptor</label>
										<input type="text" name="lastName" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">Dni del preceptor</label>
										<input type="text" name="dni" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">telefono del preceptor</label>
										<input type="text" name="telephone" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">email del preceptor</label>
										<input type="email" name="email" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">genero del preceptor</label>
										<input type="text" name="gender" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">nacimiento del preceptor</label>
										<input type="text" name="birth" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">fecha de ingreso del preceptor</label>
										<input type="text" name="entry" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">estado del preceptor</label>
										<input type="text" name="state" class="form-control" required>
									</div>
									<button type="submit" class="btn btn-primary">Cargar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('fragment/footer'); -%>
	</div>
	<%- include('fragment/fixedPlugin'); -%>
	<%- include('fragment/scripts'); -%>
</body>

</html>