<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <title>Panel principal del sistema</title>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />

        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <!-- Iconos Font Awesome -->
        <script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>

        <!-- Nuestros estilos -->
        <link rel="stylesheet" href="/stylesheets/style.css" />

        <!-- Estilos de las tarjetas de los espacios curriculares -->
        <link rel="stylesheet" href="/stylesheets/cardsStyle.css" />

        <!-- CSS Files -->
        <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />

        <!-- Animate css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

        <!-- Cards 2.0  -->
        <link href="/stylesheets/hipster_cards.css" rel="stylesheet" />

        <!--     Cards 2.0 Fonts and icons     -->
        <link href="/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700" rel="stylesheet" type="text/css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />

        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>

        <%- include('fragment/background'); -%>
    </head>

    <body>
        <%- include('fragment/sidebar'); -%>
        <div data-value="<%-username%>" id="main-panel" class="main-panel">
            <div class="content">
                <%- include('fragment/navbar'); -%>
                <div class="container">
                    <br />
                    <br />
                    <% for(var i = 0; i < rol.length; i++) { %>
                    <!-- Contenido para el dashboard administrador -->
                    <% if (rol[i] == 'administrador') { %>
                    <p>Cosas del administrador ac치</p>
                    <% } %>

                    <!-- Contenido para el dashboard preceptor-->
                    <% if (rol[i] == 'preceptor') { %>
                        <ul uk-accordion >
                            <li class="uk-open">
                                <a class="uk-accordion-title" >Martin Perez</a>
                                <div class="uk-accordion-content">
                                    <div id="grafico" class="tituloestudiante">
                                        <h4>Martin Perez</h4>
                                        <canvas id="MiGrafica" width="400" height="400"></canvas>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-open">
                                <a class="uk-accordion-title" >Lucia hd</a>
                                <div class="uk-accordion-content">
                                    <div id="grafico" class="tituloestudiante">
                                        <h4>Lucia hd</h4>
                                        <canvas id="MiGrafica2" width="400" height="400"></canvas>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-open">
                                <a class="uk-accordion-title" >Martin Bustamante</a>
                                <div class="uk-accordion-content">
                                    <div id="grafico" class="tituloestudiante">
                                        <h4>Martin Bustamante</h4>
                                        <canvas id="MiGrafica3" width="400" height="400"></canvas>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        
                    <% } %>

                    <!-- Cards del profesor -->
                    <% if (rol[i] == 'profesor') { %>
                    <div class="form-row">
                        <% data[0].forEach(function(InfoUser){ %>
                        <div class="col-md-3" style="margin-left: 50px">
                            <div class="card" style="background-image: url('<%-InfoUser.imagen%>')">
                                <div class="header">
                                    <div class="content">
                                        <h4 class="subject title title-uppercase" myAtribute="0" style="color: rgb(255, 255, 255); text-shadow: 4px 4px 4px black"><%- InfoUser['nombreMateria']%></h4>
                                        <h6 class="label label-danger" style="color: rgb(255, 255, 255); text-shadow: 1px 1px 2px black"><%- InfoUser['curso_descripcion']%></h6>
                                        <br />
                                        <br />
                                        <br />
                                        <div>
                                            <li class="fas fa-clock teacher_name" style="color: rgb(255, 255, 255); text-shadow: 1px 1px 2px black; position: absolute; top: 215px"><%- " " + InfoUser['nombre']%> <%- InfoUser['apellido']%></li>
                                            <br />
                                            <li class="fas fa-user" style="color: rgb(255, 255, 255); text-shadow: 1px 1px 2px black; position: absolute; top: 245px"><%- " " + InfoUser['horasCatedra']%> Horas c치tedras</li>
                                        </div>
                                    </div>
                                </div>
                                <div class="category">
                                    <div class="content" style="padding-right: 0%; padding-bottom: 0%">
                                        <form action="/estudianteMateria" method="POST">
                                            <button
                                                style="padding-left: 40px; padding-right: 50px; padding-top: 25px; float: right !important"
                                                type="submit"
                                                name="subjectName"
                                                value="<%- InfoUser['nombreMateria']%>"
                                                class="btn btn-danger btn-fab btn-fab btn-round"
                                            >
                                                <i class="material-icons">login</i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="filter"></div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <% } %>

                    <!-- Contenido para el dashboard estudiante -->
                    <% if (rol[i] == 'estudiante') { %>
                    <p>Cosas del estudiante ac치</p>
                    <% } %> <% } %>
                    </div>
            </div>
            <%- include('fragment/footer'); -%>
        </div>

        <%- include('fragment/scripts'); -%>

        <!-- Jquery -->
        <script src="/javascripts/plugins/jquery-3.5.1.js"></script>

        <!-- Cards Js -->
        <script src="/javascripts/hipster-cards.js"></script>

        <!-- Own SweetAlert2 -->
        <script src="/javascripts/sweetAlerts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- editable -->

        <script>
            let usernameAlert = document.getElementById("main-panel");
            usernameAlert = usernameAlert.getAttribute("data-value");

            window.onload = () => {
                $.get("estadoToastr", { data: 0 }, function (res) {
                    if (res) {
                        $.get("cambiarEstadoToastr", { data: 0 }, function (res) {
                            //
                        });
                        //
                        welcomeLogin(usernameAlert);
                    }
                });
            };
        </script>
        <script>
            $(document).ready(function () {
                //Arreglo para alojar todos los nombres de espacios curriculares del profe en cuesti칩n
                let espacios = [];
                let nombreMayuscula = [];
                //Con un foreach guardamos cada nombre espacio curricular en el arreglo
                $("h4.cortado").each((i, e) => {
                    espacios.push($(e).text());
                    e.setAttribute("miAtributo", i);
                    if (espacios[i].length > 15) {
                        e.innerHTML = espacios[i].substring(0, 10) + "...";
                    }
                });
                $("li.nombreProfe").each((x, y) => {
                    nombreMayuscula = $(y)
                        .text()
                        .replace(/\b\w/g, (l) => l.toUpperCase());
                    y.innerHTML = nombreMayuscula;
                });
            });
        </script>
        <script>
            let miCanvas=document.getElementById("MiGrafica").getContext("2d");
    
            var MiGrafica = new Chart(miCanvas,{
                type:"pie",
                data:{
                    labels:["Logrado","Proceso","Pendiente"],
                    datasets:[
                        {
                            data:[16,8,2],
                            label: "perez",
                            backgroundColor: [
                            'rgb(54, 233, 0)',
                            'rgb(255, 255, 0)',
                            'rgb(255, 0, 0)',
                            ],
                        
                        }]
                    },
                options: {
                responsive: true,
                maintainAspectRatio: false,
            }
            
        });  
            let miCanvas2=document.getElementById("MiGrafica2").getContext("2d");
    
            var MiGrafica2 = new Chart(miCanvas2,{
                type:"pie",
                data:{
                    labels:["Logrado","Proceso","Pendiente"],
                    datasets:[
                        {
                            data:[2,8,40],
                            label: "perez",
                            backgroundColor: [
                            'rgb(54, 233, 0)',
                            'rgb(255, 255, 0)',
                            'rgb(255, 0, 0)',
                            ],
                        
                        }]
                    },
                options: {
                responsive: true,
                maintainAspectRatio: false,
            }
            
        });  
            let miCanvas3=document.getElementById("MiGrafica3").getContext("2d");
    
            var MiGrafica3 = new Chart(miCanvas3,{
                type:"pie",
                data:{
                    labels:["Logrado","Proceso","Pendiente"],
                    datasets:[
                        {
                            data:[25,3,2],
                            label: "perez",
                            backgroundColor: [
                            'rgb(54, 233, 0)',
                            'rgb(255, 255, 0)',
                            'rgb(255, 0, 0)',
                            ],
                        
                        }]
                    },
                options: {
                responsive: true,
                maintainAspectRatio: false,
            }
            
        });  
        </script>

    </body>
</html>
