<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
	<title>Panel principal del sistema</title>
	<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<!-- Iconos Font Awesome -->
	<script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>
	<!-- Nuestros estilos -->
	<link rel="stylesheet" href="/stylesheets/style.css" />

	<!-- Estilos de las tarjetas de los espacios curriculares -->
	<link rel="stylesheet" href="/stylesheets/cardsStyle.css" />

	<!-- CSS Files -->
	<link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
	<link href="/stylesheets/toastr.css" rel="stylesheet" />
	<!-- Animate css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
	<%- include('fragment/background'); -%>

	<!-- Cards 2.0  -->
	<link href="/stylesheets/hipster_cards.css" rel="stylesheet"/>
	<link href="/stylesheets/demo.css" rel="stylesheet" />

	<!--     Cards 2.0 Fonts and icons     -->
    <link href="/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>
	
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<%- include('fragment/sidebar'); -%>
	<div class="main-panel">
		<!--  contenido   -->
		<div id="1" style="visibility: hidden"><%-username%></div>
		<h1 id="2" style="visibility: hidden"><%-toastrFlag%></h1>

		<div class="content">
			<%- include('fragment/navbar'); -%>
			<div class="container">
				<!--Contenido principal acá -->
				<div class="container">
					<div class="row">
						<% data.forEach(function(Subjects){ %>
							<div class="col-md">
								<div class="blog-card">
									<div class="meta">
										<div class="photo" style="background-image: url('<%-Subjects.imagen%>');"></div>
										<ul class="details">
											<li class="fas fa-address-book">  Profesor: <%- Subjects['nombre']%> <%- Subjects['apellido']%></a></li>
											<br>
											<br>
											<li class="fas fa-stopwatch">  <%- Subjects['horasCatedra']%> horas catedras</li>
											
										</ul>
										</div>
									<div class="description" >
										<h1><%- Subjects['nombreMateria']%></h1>
										<h2><%- Subjects['ciclo']%></h2>
										<p>
											<%- Subjects['curso_descripcion']%>
										</p>
										<form class="charts" action="/estudianteMateria" method="POST">
											<%- include('fragment/chart'); -%>
											<button type="submit" name="course" value="<%- Subjects['curso_descripcion']%>" class="right_triangle" > 
												<i id = "name1" class="fas fa-door-closed"  style="font-size: 30px; padding-left: 17px !important; float: left;" ></i> 
												<i id = "name2" class="fas fa-door-open"  style="font-size: 30px; padding-left: 17px !important; float: left;" ></i> 
											</button>
										</form>
									</div>
								</div>
							</div>
						<% }); %>
					</div>
					<div class="container">
						<div class="row align-items-start">
						<div class="col">
							<div class="card card-with-border card-just-text" data-background="color" data-color="black" >
								<div class="content">
									<h4 class="title">"Sólo podemos ver poco del futuro, pero lo suficiente para darnos cuenta de que hay mucho que hacer"</h4>
									<p class="description">- Alan Turing</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card" data-background="image" data-src="/images/pic.jpg">
								<div class="header">
									<div class="category">
										<h6 class="label label-danger">	Ciclo básico</h6>
									</div>
								</div>
						
								<div class="content">
									<h4 class="title title-uppercase">
										<a href="">Entornos digitales</a>
									</h4>
									<p class="description">Acá puede ir el gráfico de torta?</p>
								</div>
								<div class="filter">
						
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card" data-background="image" data-src="/images/lifestyle-1.jpg">
								<div class="header">
									<div class="category">
										<h6 class="label label-danger">Ciclo orientado</h6>
									</div>
								</div>
						
								<div class="content">
									<h4 class="title title-uppercase">
										<a href="">Programación IV</a>
									</h4>
									<p class="description">Acá puede ir el gráfico de torta?</p>
								</div>
								<div class="filter">
						
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
	</div>
		<%- include('fragment/footer'); -%>
	</div>
	
	<%- include('fragment/scripts'); -%>

	<script src="/javascripts/plugins/jquery-3.5.1.js"></script>
	<script src="/javascripts/toastr.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/javascripts/slippry.min.js"></script>
	<script src="/javascripts/hipster-cards.js"></script>
	<script src="/javascripts/cardsDemo.js"></script>
	<link rel="stylesheet" href="/stylesheets/slippry.css" />
	<script>
		toastr.options.progressBar = true;
		toastr.options.closeMethod = "fadeOut";
		toastr.options.closeDuration = 300;
		
		let usernameToastr = document.getElementById("1");
		let toastrFlag = document.getElementById("2");

		window.onload = () => {
			if (toastrFlag.innerHTML) {
				toastrFlag.innerHTML = false;
				toastr.success("bienvenido " + usernameToastr.innerHTML);
			}
		};
	</script>
</body>

</html>