<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        form
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="/stylesheets/themify-icons.css" rel="stylesheet">

    <!-- Iconos Font Awesome -->
    <script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- CSS Files -->
    <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link href="/stylesheets/paper-bootstrap-wizard.css" rel="stylesheet" />

    <%- include('fragment/background'); -%>
</head>

<body class="">
    <%- include('fragment/sidebar'); -%>
    <div class="main-panel">
        <%- include('fragment/navbar'); -%>
        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <!--      Wizard container        -->
                    <div class="wizard-container">

                        <div class="card wizard-card" data-color="orange" id="wizardProfile">
                            <form action="" method="">
                                <!--        You can switch " data-color="orange" "  with one of the next bright colors: "blue", "green", "orange", "red", "azure"          -->

                                <div class="wizard-header text-center">
                                    <h3 class="wizard-title">Create your profile</h3>
                                    <p class="category">This information will let us know more about you.</p>
                                </div>

                                <div class="wizard-navigation">
                                    <div class="progress-with-circle">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1"
                                            aria-valuemax="3" style="width: 21%;"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <ul>
                                                <li>
                                                    <a href="#about" class="col-md-4" data-toggle="tab">
                                                        <div class="icon-circle">
                                                            <i class="ti-user"></i>
                                                        </div>
                                                        About
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#account" class="col-md-4" data-toggle="tab">
                                                        <div class="icon-circle">
                                                            <i class="ti-settings"></i>
                                                        </div>
                                                        Work
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#address" class="col-md-4" data-toggle="tab">
                                                        <div class="icon-circle">
                                                            <i class="ti-map"></i>
                                                        </div>
                                                        Address
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <%- include('fragment/footer'); -%>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('fragment/scripts'); -%>
</body>

</html>