<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Panel principal del sistema</title>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <!-- Iconos Font Awesome -->
        <script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>
        <!-- Nuestros estilos -->
        <link rel="stylesheet" href="/stylesheets/style.css" />

        <!-- CSS Files -->
        <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
        <!-- Animate css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

        <!--     Cards 2.0 Fonts and icons     -->
        <link href="/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700" rel="stylesheet" type="text/css" />

        <link href="/stylesheets/dataTables.uikit.min.css" rel="stylesheet" />
        <link href="/stylesheets/uikit.min.css" rel="stylesheet" />

        <%- include('fragment/background'); -%>
    </head>

    <body>
        <%- include('fragment/sidebar'); -%>
        <div data-value="<%-username%>" id="main-panel" class="main-panel">
            <!--  contenido   -->

            <div class="content">
                <%- include('fragment/navbar'); -%>
                <div class="container">
                    <!--Contenido principal acá -->
                    <div class="jumbotron">
                        <h1 class="display-4">Datatable</h1>
                        <p class="lead">Soy una página de prueba para mostrar otra versón de datatable :)</p>
                        <hr class="my-4" />
                        <p>Contenido para votar en el discord del proyecto.</p>
                        <table id="example" class="uk-table uk-table-hover uk-table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"></div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <%- include('fragment/footer'); -%>
        </div>

        <%- include('fragment/scripts'); -%>

        <script src="/javascripts/plugins/jquery-3.5.1.js"></script>
        <script src="/javascripts/toastr.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/javascripts/hipster-cards.js"></script>
        <script src="/javascripts/cardsDemo.js"></script>
        <script src="https://unpkg.com/pdf-lib@1.4.0"></script>
        <script src="https://unpkg.com/downloadjs@1.4.7"></script>
        <script src="/javascripts/dataTables.bootstrap4.min.js"></script>
        <script src="/javascripts/jquery.dataTables.min.js"></script>
        <script src="/javascripts/dataTables.uikit.min.js"></script>

        <script>
            $(document).ready(function () {
                $("#example").DataTable();
            });
        </script>
    </body>
</html>
