<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <title>Panel principal del sistema</title>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <!-- Iconos Font Awesome -->
        <script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>
        <!-- Nuestros estilos -->
        <link rel="stylesheet" href="/stylesheets/style.css" />

        <!-- Estilos de las tarjetas de los espacios curriculares -->
        <link rel="stylesheet" href="/stylesheets/cardsStyle.css" />

        <link rel="stylesheet" href="/stylesheets/datatable.css" />

        <link rel="stylesheet" href="/stylesheets/modal.css" />

        <link rel="stylesheet" href="/stylesheets/fresh-bootstrap-table.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />

        <!-- CSS Files -->
        <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
        <link href="/stylesheets/toastr.css" rel="stylesheet" />
        <!-- Animate css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
        <%- include('fragment/background'); -%>
        <style>
            .tituloPrincipal {
                font-family: "Roboto Condensed", sans-serif;
                font-size: 30px;
            }

            .tituloSecundario {
                font-family: "Roboto Condensed", sans-serif;
                font-size: 20px;
            }
        </style>
    </head>

    <body>
        <%- include('fragment/sidebar'); -%>
        <div class="main-panel">
            <%- include('fragment/navbar'); -%>
            <div class="content">
                <div class="container-fluid">
                    <!--Contenido principal acá -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container fresh-table full-color-table">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/images/6to.png" alt="" class="imagen-tabla" />
                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div>
                                    <h4 class="panel-table" data-value="<%- data[0].id -%>" data-value2="<%- data[0].nombreMateria -%>" data-value3="<%- data[0].curso_descripcion -%>" id="subjectName">
                                        Estudiantes del espacio curricular: <%- data[0].nombreMateria -%>
                                    </h4>
                                </div>
                                <table id="fresh-table" class="table">
                                    <thead>
                                        <th data-field="name">
                                            <i class="fas fa-user-graduate color-icon" data-sortable="true"></i>
                                            Nombre
                                        </th>
                                        <th data-field="surname">
                                            <i class="fas fa-user-graduate color-icon" data-sortable="true"></i>
                                            Apellido
                                        </th>

                                        <th data-field="birt">
                                            <i class="fa fa-calendar color-icon" aria-hidden="true"></i>
                                            notas
                                        </th>
                                        <th data-field="dni">
                                            <i class="fa fa-address-card color-icon" aria-hidden="true"></i>
                                            DNI
                                        </th>
                                        <th data-field="email ">
                                            <i class="fa fa-envelope color-icon" aria-hidden="true"></i>
                                            email
                                        </th>
                                        <th data-field="telephone">
                                            <i class="fa fa-phone color-icon" aria-hidden="true"></i>
                                            telefono
                                        </th>
                                        <th data-field="genero">
                                            <i class="fas fa-venus-mars color-icon"></i>
                                            genero
                                        </th>
                                        <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">
                                            <i class="fa fa-lightbulb-o color-icon" aria-hidden="true"></i>
                                            Acciones
                                        </th>
                                    </thead>
                                    <% data.forEach(function(Student){ %>
                                    <tr>
                                        <td><%-Student['nombre']%></td>
                                        <td><%-Student['apellido']%></td>
                                        <% if (Student['nota_definitiva'] == "nd" ) { %>
                                        <td class="none"><%-Student['nota_definitiva']%></td>
                                        <% } %> <% if (parseFloat(Student['nota_definitiva']) < 3) { %>
                                        <td class="disapproved"><%-Student['nota_definitiva']%></td>
                                        <% } %> <% if (parseFloat(Student['nota_definitiva']) <= 6 && parseFloat(Student['nota_definitiva']) > 3) { %>
                                        <td class="working"><%-Student['nota_definitiva']%></td>
                                        <% } %> <% if (parseFloat(Student['nota_definitiva']) <= 10 && parseFloat(Student['nota_definitiva']) > 6) { %>
                                        <td class="passed"><%-Student['nota_definitiva']%></td>
                                        <% } %>
                                        <td><%-Student['dni']%></td>
                                        <td><%-Student['email']%></td>
                                        <td><%-Student['telefono']%></td>
                                        <td><%-Student['genero']%></td>
                                        <td></td>
                                    </tr>
                                    <% }); %>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Learnings popup -->

            <div class="modal fade bd-example-modal-lg" id="learningsStudent" data-value="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" id="modal">
                        <div class="modal-header" style="border-bottom: 1px solid #ffffff !important">
                            <h5 class="modal-title tituloPrincipal" id="exampleModalLabel">Listado de aprendizajes actuales</h5>
                            <h5 class="modal-title" id="isChangedLearnState" style="text-indent: 350px"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="text-white bg-danger mb-3 carta" style="max-width: 18rem; top: -120px">
                                        <div class="cardheader tituloSecundario">Pendiente</div>
                                        <div id="listPending" class="cardcolor pendiente"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-white bg-danger mb-3 carta" style="max-width: 18rem; top: -120px">
                                        <div class="cardheader tituloSecundario">Proceso</div>
                                        <div id="listProcess" class="cardcolor proceso"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-white bg-danger mb-3 carta" style="max-width: 18rem; top: -120px">
                                        <div class="cardheader tituloSecundario">Aprobado</div>
                                        <div id="listApproved" class="cardcolor aprobado"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="trashLearnings" class="col-md-3">
                                    <button class="trash custom-btn btn-2">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="custom-btn btn-2">
                                        <i class="fas fa-undo-alt"></i>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="custom-btn btn-2" data-toggle="modal" data-target="#newLearning">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="custom-btn btn-2" onclick="saveLearnings()">
                                        <i class="fas fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Create learnings popup -->

            <div id="newLearning" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 style="color: #070707" class="modal-title">Ingrese el nombre del aprendizaje</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <small style="font-weight: bold">Complete los campos para crear un aprendizaje</small>
                        <div class="modal-body">
                            <input type="text" name="learningName" id="inputNameLearning" placeholder="Ingrese nombre" required />
                            <br />
                            <br />
                            <small style="font-weight: bold">seleccione periodo</small>
                            <div class="input-group">
                                <select class="custom-select" id="inputPeriodLearning" placeholder="Ingrese el periodo" required>
                                    <option>1er cuatrimestre</option>
                                    <option>2er cuatrimestre</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="addLearning([inputNameLearning.value,inputPeriodLearning.value])">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('fragment/footer'); -%>
        </div>
        <%- include('fragment/scripts'); -%>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script src="/javascripts/plugins/jquery-3.5.1.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/locale/bootstrap-table-es-AR.min.js"></script>
        <script type="text/javascript">
            const listApproved = document.getElementById("listApproved");
            const listProgress = document.getElementById("listProcess");
            const listPending = document.getElementById("listPending");
            var deleteLearnings = [];

            Sortable.create(listApproved, {
                group: {
                    name: "statuslearning",
                },
                animation: 150,
                easing: "cubic-bezier(0.895,0.03,0.685,0.22)",
                chosenClass: "active",
                onAdd: function (evt) {
                    //first time
                    if (evt.item.getAttribute("originLearn") == "" && evt.item.getAttribute("data-value") == 0) {
                        evt.item.setAttribute("data-value", "1");
                        evt.item.setAttribute("originLearn", evt.from.getAttribute("id"));
                        evt.item.classList.replace(evt.item.classList[1], evt.to.classList[1]);
                        document.getElementById("isChangedLearnState").innerHTML = "";
                    } else if (evt.item.getAttribute("originLearn") != evt.to.getAttribute("id")) {
                        evt.item.classList.replace(evt.item.classList[1], evt.to.classList[1]);
                        document.getElementById("isChangedLearnState").innerHTML = "";
                    }
                    //come back home
                    else if (evt.item.getAttribute("originLearn") == evt.to.getAttribute("id")) {
                        evt.item.setAttribute("data-value", "0");
                        evt.item.classList.replace(evt.item.classList[1], evt.to.classList[1]);
                    }
                },
                onEnd: function (evt) {
                    if (evt.to.id == "trashLearnings") {
                        $(evt.item).remove();
                        deleteLearnings.push(evt);
                        document.getElementById("isChangedLearnState").innerHTML = "Se borro un aprendizaje(guardar)";
                    }
                },
            });
            Sortable.create(listProgress, {
                group: {
                    name: "statuslearning",
                },
                animation: 150,
                easing: "cubic-bezier(0.895,0.03,0.685,0.22)",
                chosenClass: "active",
                onAdd: function (evt) {
                    //first time
                    if (evt.item.getAttribute("originLearn") == "" && evt.item.getAttribute("data-value") == 0) {
                        evt.item.setAttribute("data-value", "1");
                        evt.item.setAttribute("originLearn", evt.from.getAttribute("id"));
                        evt.item.classList.replace(evt.item.classList[1], evt.to.classList[1]);
                        document.getElementById("isChangedLearnState").innerHTML = "";
                    } else if (evt.item.getAttribute("originLearn") != evt.to.getAttribute("id")) {
                        evt.item.classList.replace(evt.item.classList[1], evt.to.classList[1]);
                        document.getElementById("isChangedLearnState").innerHTML = "";
                    }
                    //come back home
                    else if (evt.item.getAttribute("originLearn") == evt.to.getAttribute("id")) {
                        evt.item.setAttribute("data-value", "0");
                        evt.item.classList.replace(evt.item.classList[1], evt.to.classList[1]);
                    }
                },
                onEnd: function (evt) {
                    if (evt.to.id == "trashLearnings") {
                        $(evt.item).remove();
                        deleteLearnings.push(evt);
                        document.getElementById("isChangedLearnState").innerHTML = "Se borro un aprendizaje(guardar)";
                    }
                },
            });

            Sortable.create(listPending, {
                group: {
                    name: "statuslearning",
                },
                animation: 150,
                easing: "cubic-bezier(0.895,0.03,0.685,0.22)",
                chosenClass: "active",
                onAdd: function (evt) {
                    if (evt.item.getAttribute("originLearn") == "" && evt.item.getAttribute("data-value") == 0) {
                        evt.item.setAttribute("data-value", "1");
                        evt.item.setAttribute("originLearn", evt.from.getAttribute("id"));
                        evt.item.classList.replace(evt.item.classList[1], evt.to.classList[1]);
                        document.getElementById("isChangedLearnState").innerHTML = "";
                    } else if (evt.item.getAttribute("originLearn") != evt.to.getAttribute("id")) {
                        evt.item.classList.replace(evt.item.classList[1], evt.to.classList[1]);
                        document.getElementById("isChangedLearnState").innerHTML = "";
                    } else if (evt.item.getAttribute("originLearn") == evt.to.getAttribute("id")) {
                        evt.item.setAttribute("data-value", "0");
                        evt.item.classList.replace(evt.item.classList[1], evt.to.classList[1]);
                    }
                },
                onEnd: function (evt) {
                    if (evt.to.id == "trashLearnings") {
                        $(evt.item).remove();
                        deleteLearnings.push(evt);
                        document.getElementById("isChangedLearnState").innerHTML = "Se borro un aprendizaje(guardar)";
                    }
                },
            });
            Sortable.create(trashLearnings, {
                group: {
                    name: "statuslearning",
                },
                chosenClass: "active",
                filter: ".trash",
                sort: false,
                put: false,
            });
        </script>
        <script type="text/javascript">
            var $table = $("#fresh-table");
            var $alertBtn = $("#alertBtn");

            function saveLearnings() {
                let dni = $("#learningsStudent").attr("data-value");
                let listLearnings = [$(".pendiente"), $(".proceso"), $(".aprobado")];
                let infoLearnings = {
                    dni: dni,
                    pendiente: [],
                    proceso: [],
                    aprobado: [],
                };
                //chequeamos si hubieron cambios
                for (let i = 0; i < listLearnings.length; i++) {
                    for (let j = 0; j < listLearnings[i].length; j++) {
                        if (listLearnings[i][j].getAttribute("data-value") == 1) {
                            infoLearnings[listLearnings[i][j].classList[1]].push({
                                name: listLearnings[i][j].children[0].innerHTML,
                            });
                        }
                    }
                }
                if (infoLearnings["pendiente"].length > 0 || infoLearnings["proceso"].length > 0 || infoLearnings["aprobado"].length > 0) {
                    $.get("guardarAprendizajes", { data: infoLearnings }, function (res) {
                        document.getElementById("isChangedLearnState").innerHTML = "Cambios guardados";
                    });
                }
                if (deleteLearnings.length > 0) {
                    //detectar cual se borro y modificar la db
                    for (let i = 0; i < deleteLearnings.length; i++) {
                        deleteLearnings[i] = deleteLearnings[i].item.lastChild.innerHTML;
                    }
                    $.get("borrarAprendizajes", { data: deleteLearnings }, function (res) {
                        document.getElementById("isChangedLearnState").innerHTML = "Cambios guardados";
                        deleteLearnings = [];
                    });
                }
            }
            function addLearning(newLearningData) {
                // subject id
                newLearningData.push(document.getElementById("subjectName").getAttribute("data-value"));
                // subject Name
                newLearningData.push(document.getElementById("subjectName").getAttribute("data-value2"));
                // course
                newLearningData.push(document.getElementById("subjectName").getAttribute("data-value3"));
                $.get("agregarAprendizajes", { newLearningData }, function (res) {
                    $("#listPending").append("<div class='list-group-item pendiente' originLearn='' data-value='0'><p class='fas fa-bars bg-danger mb-3'>" + newLearningData[0] + "</p></div>");
                    document.getElementById("isChangedLearnState").innerHTML = "Se creo un nuevo aprendizaje";
                });
            }

            window.operateEvents = {
                "click .like": function (e, value, row, index) {
                    alert("You click like icon, row: " + JSON.stringify(row));
                    console.log(value, row, index);
                },
                "click .edit": function (e, value, row, index) {
                    $.get("obtenerAprendizajes", { dni: row.dni }, function (res) {
                        if ($("#learningsStudent").attr("data-value") != row.dni) {
                            $("#listApproved").empty();
                            $("#listProcess").empty();
                            $("#listPending").empty();
                            for (let i = 0; i < res.length; i++) {
                                if (res[i].estado == "aprobado") {
                                    $(document).ready(() => {
                                        $("#listApproved").append("<div class='list-group-item aprobado' originLearn='' data-value='0'><p class='fas fa-bars bg-danger mb-3'>" + res[i].descripcion + "</p></div>");
                                    });
                                } else if (res[i].estado == "proceso") {
                                    $(document).ready(() => {
                                        $("#listProcess").append("<div class='list-group-item proceso' originLearn='' data-value='0'><p class='fas fa-bars bg-danger mb-3'>" + res[i].descripcion + "</p></div>");
                                    });
                                } else {
                                    $(document).ready(() => {
                                        $("#listPending").append("<div class='list-group-item pendiente' originLearn='' data-value='0'><p class='fas fa-bars bg-danger mb-3'>" + res[i].descripcion + "</p></div>");
                                    });
                                }
                            }
                            $("#learningsStudent").attr("data-value", row.dni);
                        }
                    });
                },
            };

            function operateFormatter(value, row, index) {
                return [
                    '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
                    '<i class="far fa-file-alt fa-inform"></i>',
                    "</a>",
                    '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit" data-toggle="modal" data-target="#learningsStudent">',
                    '<i class="fa fa-edit"></i>',
                    "</a>",
                ].join("");
            }
            $(function () {
                $table.bootstrapTable({
                    classes: "table table-hover table-striped",
                    toolbar: ".toolbar",
                    search: true,
                    showRefresh: true,
                    showToggle: true,
                    showColumns: true,
                    pagination: true,
                    striped: true,
                    sortable: true,
                    pageSize: 8,
                    pageList: [8, 10, 25, 50, 100],
                    formatShowingRows: function (pageFrom, pageTo, totalRows) {
                        return "";
                    },
                    formatRecordsPerPage: function (pageNumber) {
                        return pageNumber + " Filas visibles";
                    },
                });
                $alertBtn.click(function () {
                    alert("You pressed on Alert");
                });
            });
        </script>
    </body>
</html>
