<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		Listado de Estudiantes
	</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<!-- Iconos Font Awesome -->
	<script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- CSS Files -->
	<link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
</head>

<body class="">
	<%- include('fragment/sidebar'); -%>
		<div class="main-panel">
			<%- include('fragment/navbar'); -%>
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header card-header-primary">
										<% data.forEach(function(Student){ %>
											<h4 class="card-title ">Estudiantes de <%- Student['nombreMateria']%></h4>
											<p class="card-category">Listado de Estudiantes cargados en el sistema</p>
										<% }); %>
									</div>
									<div class="card-body">
										<div class="table-responsive">
										<!-- Insertar Tabla de estudiantes -->
											<table id="example" class="display" style="width:100%">
												<thead>
													<tr>
														<th>Nombre</th>
														<th>Apellido</th>
														<th>Curso</th>
														<th>Ciclo</th>
														<th>Email</th>
														<th>Progreso</th>
														<th>Genero</th>
														<th>Fecha de nacimiento</th>
														<th>Legajo</th>
													</tr>
												</thead>
													<tbody>	
														<% data.forEach(function(Student){ %>												
															<tr>
																<td><%- Student['nombre']%></td>
																<td><%- Student['apellido']%></td>
																<td><%-Student['descripcion_curso']%></td>
																<td>(completar)</td>
																<td><%-Student['email']%></td>
																<td>(completar)</td>
																<td><%-Student['genero']%></td>
																<td><%-Student['fecha_nacimiento']%></td>
																<td><%-Student['legajo']%></td>
															</tr>
														<% }); %>
													</tbody>												
												<tfoot>
													<tr>
														<th>Nombre y Apellido</th>
														<th>Curso</th>
														<th>Ciclo</th>
														<th>Email</th>
														<th>Progreso</th>
														<th>Genero</th>

													</tr>
												</tfoot>
											</table>
										<!--Contenido principal acá -->	
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			<%- include('fragment/footer'); -%>
		</div>
	<%- include('fragment/scripts'); -%>
	
	<script>

		$(document).ready(function(){
    		$('#example').DataTable({
				"language": {
					"lengthMenu": "Mostrando _MENU_ alumnos por página",
					"zeroRecords": "No encontramos nada",
					"info": "Mostrando página _PAGE_ de _PAGES_",
					"infoEmpty": "No records available",
					"infoFiltered": "(filtrando de _MAX_ alumnos totales)",
					"sSearch": "Buscar:",
					"sLoadingRecords": "Cargando...",
					"oPaginate": {
						"sFirst":    "Primero",
						"sLast":     "Último",
						"sNext":     "Siguiente",
						"sPrevious": "Anterior"
					}
				}
			});
		});

	</script>
</body>
</html>