<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Listado de profesores</title>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

        <!-- Iconos Font Awesome -->
        <script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>
        <!-- Nuestros estilos -->
        <link rel="stylesheet" href="/stylesheets/style.css" />

        <link rel="stylesheet" href="/stylesheets/modal.css" />
        <link rel="stylesheet" href="/stylesheets/boton.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />


        <!-- Estilo de la datatable --> 
        <link rel="stylesheet" href="/stylesheets/uikit.min.css" />

        <!-- CSS Files -->
        <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />

        <%- include('fragment/background'); -%>
    </head>

    <body>
        <div class="main-panel">
            <%- include('fragment/navbar'); -%>
            <div class="content">
                <br>
                <br>
                <br>
                <br>
                <div class="jumbotron customJumbotron" style="margin-top: 25px;">
                    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark" style="font-size: 250px;margin-top:-80px">
                        <div class="col-md-10">
                            <h1 class="display-4 tituloSecundario" style="font-size: -95px;margin-top: -40px;">Lista de profesores</h1>
                            <h4 class="text-table tituloSecundario" style="margin-bottom: -30px;" >
                                Profesores 
                            </h4>
                        </div>
                    </div>
                    <div class="uk-overflow-auto">
                        <table id="fresh-table" class="uk-table uk-table-responsive uk-table-shrink uk-table-hover uk-table-justify uk-table-striped uk-table-small" style="width: 100%">
                            <thead>
                                <th >
                                </th>

                                <th data-field="name">
                                    Nombre
                                </th>

                                <th data-field="surname">
                                    Apellido
                                </th>
                                
                                <th data-field="dni">
                                    DNI
                                </th>

                                <th data-field="email ">
                                    Email
                                </th>
                                
                                <th data-field="telephone">
                                    Telefono
                                </th>
                                <th data-field="ingreso">
                                    Ingreso
                                </th>
                                <th data-field="estado">
                                    Estado
                                </th>
                                
                                <th data-field="acciones" >
                                    
                                </th>
                                <th></th>
                            </thead>
                            <form id="notesForm" method="post">
                                <% data.forEach(function(profesor){ %>    
                                    <tr>
                                        <td></td>
                                        <td><%-profesor['nombre']%></td>
                                        <td><%-profesor['apellido']%></td>
                                        <td><%-profesor['dni']%></td>
                                        <td><%-profesor['email']%></td>
                                        <td><%-profesor['telefono']%></td>
                                        <td><%-profesor['ingreso']%></td>
                                        <td><%-profesor['estado']%></td>
                                        <td>
                                            <div id="<%-profesor['nombreUsuario']%>" onclick="borrar(this.id)">
                                                <i uk-margin type="button" title="Notas" uk-toggle style="color:black; font-size:27px;margin-left:5px;" class="material-icons">delete</i>

                                            </div>
                                        </td>
                                        <td>
                                            <i class="material-icons" id="<%-profesor['nombreUsuario']%>" onclick="agregarMateria(this.id)" data-toggle="modal" data-target="#learningsStudent"> create</i>
                                        </td>
                                    </tr>
                                <% }); %>
                            </form>
                        </table>
                    </div>    
                    <a href="#" style="float:right;" uk-totop uk-scroll></a>         
                </div>
            </div>
            <div class="modal fade bd-example-modal-lg" id="learningsStudent" data-value="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" id="modal">
                        <div class="modal-header" style="border-bottom: 1px solid #ffffff !important">
                            <h5 class="modal-title tituloPrincipal" id="exampleModalLabel">Materias</h5>
                            <h5 class="modal-title" id="isChangedLearnState" style="text-indent: 350px"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="tab-pane" id="address">
                                <div class="content">
                                    <br>
                                    <br>
                                    <div class = "row">
                                        
                                        <div class="col-md-6">
                                            <h4 style="text-align:center;" class="tituloSecundario">Profe </h4>

                                            <% data.forEach(function(item){%>
                                                <div id="profe" class="row">
                                                    <input type="radio" value= "<%- data -%>" id ="boton">
                                                
                                                </div>
                                            <% }); %>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 style="text-align:center;" class="tituloSecundario">Materias sueltas</h4>
                                            <div id="profeX" class="row">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <%- include('fragment/footer'); -%>
        </div>
        <%- include('fragment/scripts'); -%>

                <!-- Own SweetAlert2 -->
        <script src="/javascripts/sweetAlerts.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function borrar(aux){
                Swal.fire({
                    title: '¿Esta seguro que quiere eliminar a este profesor?',
                    showDenyButton: true,
                    confirmButtonText: 'Si',
                    denyButtonText: `No`,
                    html:aux
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            icon: "success",
                            title: "Se elimino al profesor",
                            showConfirmButton: false,
                            timer: 1200,
                            timerProgressBar: true,
                            toast: true,
                            position: "top-end",
                        });
                      /*   $.get(`borrarProfesor/${aux}`,  res => {
                            setTimeout(reloadPage, 2500);
                        });  */
                    } 
		        })
            }

            function agregarMateria(profesor) {
                let nombreUsuario = profesor;
                $.get(`listarProfesores/${nombreUsuario}`,  res => {
                    let profe = document.getElementById("profe");
                    let profeX = document.getElementById("profeX");
                    $("#boton").append(res.profe) ;
                    profeX.append(res.profeX);
                }); 
                $(".close").on("click", function(e) {
                    profe.innerHTML = "";
                    profeX.innerHTML = "";
                });
            }
                
        </script>
    </body>
</html>
