<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		Listado de profesores
	</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- CSS Files -->
	<link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
</head>

<body class="">
	<%- include('fragment/sidebar'); -%>
	<div class="main-panel">
		<%- include('fragment/navbar'); -%>
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title ">Profesores</h4>
								<p class="card-category">Listado de profesores cargados en el sistema</p>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<!-----tabla profesores------>
									<table class="table table-bordered ">
										<thead class=" text-primary">
											<tr>
												<th>
													# 
												</th>
												<th>
													Dni
												</th>
												<th>
													Nombre
												</th>
												<th>
													Apellido
												</th>
												<th>
													Telefono
												</th>
												<th>
													Email
												</th>
												<th>
													Genero
												</th>
												<th>
													Nacimiento
												</th>
												<th>
													Ingreso
												</th>
												<th>
													Estado
												</th>
												<th class="text-right">Acciones</th>
											</tr>
										</thead>
										<tbody>
										<!------cargo los datos de la db hacia la tabla------>	
											<% data.forEach(function(profesor){ %>
												<tr>
													<!---modificar esto para que aparezca el numero segun el profe creado--->
													<td>1</td>
													<td><%- profesor['dni'] %></td>
													<td><%- profesor['nombre'] %></td>
													<td><%- profesor['apellido'] %></td>
													<td><%- profesor['telefono'] %></td>
													<td><%- profesor['email'] %></td>
													<td><%- profesor['genero'] %></td>
													<td><%- profesor['nacimiento'] %></td>
													<td><%- profesor['ingreso'] %></td>
													<td><%- profesor['estado'] %></td>

													<!-----botones para las acciones--->
													<td class="td-actions text-right">
														<button type="button" rel="tooltip" data-placement="right" title="Perfil del profesor"class="btn btn-info">
															<i class="material-icons">person</i>
														</button>
														<button type="button" rel="tooltip" data-placement="right" title="Retirar profesor"class="btn btn-success">
															<i class="material-icons">edit</i>
														</button>
														
														<button type="button" rel="tooltip" data-placement="right" title="Retirar profesor" class="btn btn-danger">
															<i class="material-icons">close</i>
												</tr>
												<% }); %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('fragment/footer'); -%>
	</div>
	<%- include('fragment/fixedPlugin'); -%>
	<%- include('fragment/scripts'); -%>
</body>

</html>