<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Agregar Aprendizajes
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Slab:400,700%7CMaterial+Icons" />
    <!-- Iconos Font Awesome -->
    <script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- CSS Files -->
    <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <%- include('fragment/background'); -%>
</head>

<body class="">
    <%- include('fragment/sidebar'); -%>
    <div class="main-panel">
        <%- include('fragment/navbar'); -%>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Cargar Aprendizajes</h4>
                                <p class="category">Cargar los aprendizajes con un archivo Excel</p>
                            </div>
                            <!-- Formulario de materia -->
                            <div class="card-body">
                                <form action="/loadLearning" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="aprendizajes" />
                                    <button type="submit" class="btn btn-primary">Cargar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('fragment/footer'); -%>
    </div>
    <%- include('fragment/scripts'); -%>
</body>

</html>