<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Datos de perfil</title>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <!-- Iconos Font Awesome -->
        <script src="https://kit.fontawesome.com/c49c6935a4.js" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <!-- CSS Files -->
        <link href="/stylesheets/material-dashboard.css?v=2.1.2" rel="stylesheet" />
        <%- include('fragment/background'); -%>
    </head>

    <body class="">
        <%- include('fragment/sidebar'); -%>
        <div class="main-panel">
            <%- include('fragment/navbar'); -%>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Perfil</h4>
                                    <p class="card-category">Datos de perfil</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th>Nombre usuario</th>
                                                    <th>Contraseña</th>
                                                    <th>Avatar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% data.forEach(function(usuario){ %>
                                                <tr>
                                                    <td><%- usuario['nombreUsuario'] %></td>
                                                    <td><%- usuario['pass'] %></td>
                                                    <td><%- usuario['avatar'] %></td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('fragment/footer'); -%>
        </div>
        <%- include('fragment/scripts'); -%>
    </body>
</html>
